<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<div class="container">
<h1>Tu es un sorcier {{sorcier}}</h1>
<h2> Tu as {{counter}} point de compétence(s) à répartir !</h2>


<div class="container">
  <h2> Intelligence </h2>
	<div class="row">
    
    <div class="col-lg-2">
      
      <div class="input-group">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary btn-lg"  (click)="onDecrement()" data-field="">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </span>
        <input type="text" id="quantity" name="quantity" class="form-control input-number" value={{counter}}>
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary" (click)="onIncrement()" data-field="">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </span>
      </div>
    </div>
	</div>
  
</div>

<br>
<div align='center'>
  <img [alt]="bookName" [src]="bookPictureUrl">
</div>

<p> Dommage tu es marocain ! </p>

<button (click)="big()" [style.font-size.em]="isImportant?2:1">Big</button>

<button type="button" 
(click)="buy()">BUY</button>
<div (drop)="onDrop($event)">BUY</div>
</div>



