<div class="container">

<h1>Tu es un sorcier {{sorcier}}</h1>
<h2> Prêt à débarasser la 🌎 des forces du mal ? </h2>
<div align='center'>
  <button type="button">Oui</button>
  <button type="button">Non</button>
</div>
<br>
<div align='center'>
  <img [alt]="bookName" [src]="bookPictureUrl">
</div>

<p> Dommage tu es marocain ! </p>

<button (click)="big()" [style.font-size.em]="isImportant?2:1">Big</button>

<button type="button" 
(click)="buy()">BUY</button>

<div (drop)="onDrop($event)">BUY</div>
</div>